# dependencies
node_modules/

# environment variables
server/.env

# system files
.DS_Store
Thumbs.db

# editor
.vscode/

# logs
*.log

# mockups
client/design/

# mock data
client/assets/fake-games/
client/js/fake-games.js